<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../vendor/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../client/css/history.css">
    <link rel="stylesheet" type="text/css" href="../client/css/app.css">
    <link rel="stylesheet" type="text/css" href="../client/css/fonts.css">

    <script type="text/javascript" src="../vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="../client/js/socket.io/socket.io.min.js"></script>

    <script type="text/javascript" src="../vendor/angular-rangeslider/angular.rangeSlider.js"></script>
    <link rel="stylesheet" type="text/css" href="../vendor/angular-rangeslider/angular.rangeSlider.css">

    <script type="text/javascript">var socketPort = <%- JSON.stringify(socketPort) %>;</script>
    <script type="text/javascript" src="../client/js/service/SocketService.js"></script>
    <script type="text/javascript" src="../client/js/service/DataManagerService.js"></script>
    <script type="text/javascript" src="../client/js/service/PlaybackService.js"></script>
    <script type="text/javascript" src="../client/js/service/VaultBehaviourService.js"></script>
    <script type="text/javascript" src="../client/js/controller/ApplicationCtrl.js"></script>
    <script type="text/javascript" src="../client/js/controller/TimelineCtrl.js"></script>
    <script type="text/javascript" src="../client/js/controller/VaultCtrl.js"></script>
    <script type="text/javascript" src="../client/js/controller/SessionCtrl.js"></script>
    <script type="text/javascript" src="../client/js/directive/tooltip.js"></script>
    <script type="text/javascript" src="../client/js/controller/HistoryCtrl.js"></script>
    <script type="text/javascript" src="../client/js/config/registry.js"></script>

    <link rel="shortcut icon" href="imgs/favicon.ico" />
    <link rel="icon" type="image/ico" href="imgs/favicon.ico" />

    <title>Network Visualiser - History View</title>
  </head>
  <body ng-app="MaidSafe">
    <header>
      <div class="history" ng-controller="historyCtrl">
        <div class="top-header">
          <h1>Network Visualiser - History View - {{vaultId}}</h1>
          <p class="time_label">
            <span>Snapshot at {{ asOfDate | date : 'HH:mm:ss, dd/MM/yyyy'}}<span>
          </p>
        </div>
        <div class="info">
          <div class="search-wrapper">
            <form id="search-filter">
              <input type="text" style="font-weight: none; text-align: center;" name="focus" class="search-box" required ng-model="search" placeholder="Type text to filter"/>

              <button id="clear" class="close-icon reset" type="reset"></button>
            </form>
          </div>
        </div>
        <div>
          <table>
            <thead>
              <td class="timestamp-head">Timestamp</td>
              <td class="persona-head">Persona</td>
              <td class="action-head">Action</td>
              <td class="value1-head">Value 1</td>
              <td class="value2-head">Value 2</td>
            </thead>
            <tr ng-repeat="log in logs | filter:search">
              <td style="width: 12.5%">
                {{log.ts = (log.ts | date:'MMM dd yy HH:mm.ss.sss')}}
              </td>
              <td style="width: 10%">
                {{log.p = vaultBehaviour.personas[log.persona_id]}}
              </td>
              <td style="width: 10%">
                {{log.a = vaultBehaviour.actions[log.action_id]}}
              </td>
              <td style="width: 35%;">
                <div>
                  {{log.value1}}
                </div>
              </td>
              <td style="width: 35%">
                <div>
                  {{log.value2}}
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </header>
  </body>
</html>