<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../vendor/normalize.css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../client/css/history.css">
		<link rel="stylesheet" type="text/css" href="../client/css/app.css">
		<link rel="stylesheet" type="text/css" href="../client/css/shapes.css">
		<link rel="stylesheet" type="text/css" href="../client/css/colours.css">
		<script type="text/javascript" src="../vendor/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
		<script type="text/javascript" src="../client/js/socket.io/socket.io.min.js"></script>
		
		<script type="text/javascript" src="../vendor/angular-rangeslider/angular.rangeSlider.js"></script>
		<link rel="stylesheet" type="text/css" href="../vendor/angular-rangeslider/angular.rangeSlider.css">
		
		<script type="text/javascript" src="../client/js/service/SocketService.js"></script>
		<script type="text/javascript" src="../client/js/service/DataManagerService.js"></script>
		<script type="text/javascript" src="../client/js/service/PlaybackService.js"></script>
		<script type="text/javascript" src="../client/js/service/VaultBehaviourService.js"></script>
		<script type="text/javascript" src="../client/js/controller/ApplicationCtrl.js"></script>
		<script type="text/javascript" src="../client/js/controller/TimelineCtrl.js"></script>
		<script type="text/javascript" src="../client/js/controller/VaultCtrl.js"></script>
		<script type="text/javascript" src="../client/js/controller/HistoryCtrl.js"></script>
		<script type="text/javascript" src="../client/js/directive/tooltip.js"></script>
		<script type="text/javascript" src="../client/js/config/registry.js"></script>		

		<link rel="shortcut icon" href="imgs/favicon.ico" />
  		<link rel="icon" type="image/ico" href="imgs/favicon.ico" />				

		<title>Network Visualiser - MaidSafe</title>				
	</head>
	<body ng-app="MaidSafe">
		<div class="history" ng-controller="historyCtrl"> 
			<div class="info">
				<p class="title">Log History  - {{vaultId}}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="text-align:center;font-weight:none" ng-model="search" placeholder="Type text to filter"/>
				</p>	
				<p class="time">					
					<span>As of&nbsp;{{ asOfDate | date : 'HH:mm:ss MMM dd yyyy'}}<span>
				</p>
			</div>
			<div>
				<table>
					<thead>
						<td>Timestamp</td>
						<td>Persona</td>
						<td>Action</td>
						<td>Value 1</td>
						<td>Value 2</td>
					</thead>
					<tr ng-repeat="log in logs | filter:search">
						<td style="width:12.5%">
							{{log.ts = (log.ts | date:'MMM dd yy HH:mm.ss.sss')}}
						</td>						
						<td style="width:10%">
							{{log.p = vaultBehaviour.personas[log.persona_id]}}
						</td>						
						<td style="width:10%">
							{{log.a = vaultBehaviour.actions[log.action_id]}}
						</td>
						<td style="width:35%;">
							<div>
								{{log.value1}}
							</div>
						</td>
						<td style="width:35%">
							<div>
								{{log.value2}}
							</div>
						</td>						
					</tr>
				</table>
			</div>			
		</div>	
	</body>
</html>