<ul class="personas">
  <li class="persona_maid">MAID</li>
  <li class="persona_mpid">MPID</li>
  <li class="persona_data-getter">Data Getter</li>
  <li class="persona_maid-manager">MAID Manager</li>
  <li class="persona_data-manager">Data Manager</li>
  <li class="persona_pmid-manager">PMID Manager</li>
  <li class="persona_pmid">PMID</li>
  <li class="persona_mpid-manager">MPID Manager</li>
  <li class="persona_version-handler">Version Handler</li>
  <!-- <li class="persona_cache_handler">Cache Handler</li> -->
  <li class="persona_na">NA</li>
</ul>
<ul>
  <li>
    <img src="../../imgs/viewer/joining-pmid-node.png"/><span>Joining PMID Node<span>
  </li>
  <li>
    <img src="../../imgs/viewer/dropping-pmid-node.png"/><span>Dropping PMID Node<span>
  </li>
  <li>
    <img src="../../imgs/viewer/marking-node-up.png"/><span>Marking Node Up<span>
  </li>
  <li>
    <img src="../../imgs/viewer/marking-node-down.png"/><span>Marking Node Down<span>
  </li>
  <li>
    <img src="../../imgs/viewer/transfer-account.png"/><span>Transfer Account<span>
  </li>
  <li>
    <img src="../../imgs/viewer/account-transferred.png"/><span>Got Account Transferred<span>
  </li>
  <li>
    <img src="../../imgs/viewer/remove-account.png"/><span>Remove Account<span>
  </li>
  <li>
    <img src="../../imgs/viewer/storing-data.png"/><span>Storing Data<span>
  </li>
  <li>
    <img src="../../imgs/viewer/deleting-data.png"/><span>Deleting Data<span>
  </li>
  <li>
    <img src="../../imgs/viewer/move-data.png"/><span>Move Data<span>
  </li>
  <li>
    <img src="../../imgs/viewer/update-data-version.png"/><span>Update Data Version<span>
  </li>
  <li>
    <img src="../../imgs/viewer/blocked-delete-request.png"/><span>Blocked Delete Request<span>
  </li>
  <li>
    <img src="../../imgs/viewer/subscriber.png"/><span>Subscriber<span>
  </li>
  <li>
    <img src="../../imgs/viewer/counter.png"/><span>Counter<span>
  </li>
</ul>