svg {
    border: 1px solid #ccc;
}
.link {
    stroke:#98C2E5;
}
.link.grey {
    stroke:#CCCCCC;
}
.link.target {
    stroke:#CCCCCC;
    stroke-width: 1px;
}
.link.source {
    stroke:#CCCCCC;
    stroke-width: 1;
}

.link.not-exp{
    stroke:#F7931E;
    stroke-dasharray: 7,4;
    stroke-width:1.5;
    stroke-opacity:1;
}

.link.missing{
    stroke:#ED1C24;
    stroke-dasharray: 7,4;
    stroke-width:1.5;
    stroke-opacity:1;
}

.link.missing.grey , .link.not-exp.grey {
    stroke:#CCCCCC;
    stroke-dasharray: none;
    stroke-opacity:.5;
}

.link.source.grey {
    stroke:#CCCCCC;
    stroke-width: 1;
    stroke-opacity:.5;
}
.link.source.missing-expected{
    stroke:#ED1C24;
    stroke-dasharray : 7,4;
    stroke-width:1.5;
    stroke-opacity:1;
}
.link.source.in{
    stroke:#0DB535;
    stroke-width:1.5;
    stroke-opacity:1;
}
.link.source.out{
    stroke:#ED1C24;
    stroke-width:1.5;
    stroke-opacity:1;
}
.link.source.not-expected {
    stroke:#F7931E;
    stroke-dasharray: 7,4;
    stroke-width:1.5;
    stroke-opacity:1;
}
.link.source.close-group {
    stroke:#5593D7;
    stroke-dasharray : 7,4;
    stroke-width:1.5;
    stroke-opacity:1;
}
.link.source.group{
    stroke:#98C2E5;
    stroke-width:1.5;
    stroke-opacity:1;
}
.link.target.overlaped-target {
    fill: none;
    stroke: #5593D7;
    stroke-opacity: .1;
    pointer-events: none;
}
.node text {
    fill: #999999;
}
.node text.red {
    fill:#ED1C24;
}
.node text.green {
    fill:#0DB535;
}
.node text.blue {
    fill:#5593D7;
}
.node text.light-blue {
    fill:#98C2E5;
}
.node text.orange {
    fill:#F7931E;
}
.node text.selected {
    fill:black;
    font-weight: bold;
}
.node circle {
    fill:white;
    stroke:#808080;
    stroke-width:1.2;
}
.node circle.full {
    fill:#808080;
}
