<html>
<head>
  <link rel="stylesheet" type="text/css" href="components/normalize.css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="css/shapes.css">
  <link rel="stylesheet" type="text/css" href="css/colours.css">
  <link rel="stylesheet" type="text/css" href="css/fonts.css">

  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="components/underscore/underscore-min.js"></script>
  <script src="components/react/react.min.js"></script>

  <script src="components/ngReact/ngReact.min.js"></script>
  <script type="text/javascript" src="components/socket.io-client/dist/socket.io.min.js"></script>
  <script type="text/javascript" src="js/service/SocketService.js"></script>
  <script type="text/javascript" src="js/controller/ConnectionMapCtrl.js"></script>
  <script type="text/javascript" src="connection_map/js/events.js"></script>
  <script type="text/javascript" src="connection_map/js/con_map_transform.js"></script>
  <script type="text/javascript" src="connection_map/js/ConnectionMap.js"></script>
  <script type="text/javascript" src="js/reactjs/jsx-output/ConnectionMap.js"></script>

  <script src="connection_map/js/d3/d3.min.js" charset="utf-8"></script>
  <script type="text/javascript">var socketPort = <%- JSON.stringify(socketPort) %>;</script>
  <title>Network Visualiser - Connection Map</title>
  <link rel="shortcut icon" href="imgs/favicon.ico"/>
  <link rel="icon" type="image/ico" href="imgs/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/d3.css"></link>
  <link rel="stylesheet" type="text/css" href="connection_map/css/connection.css"></link>
</head>
<body ng-app="MaidSafe" ng-controller="connectionMapCtrl">
<header>
  <ng-include src="'template/connection_map/header.html'"></ng-include>
</header>
<section>
  <div class="icons" ng-if="!iconsTrayClosed">
    <ng-include src="'template/common/icons_tray.html'"></ng-include>
  </div>
  <div id="wrapper" ng-class="{false:'tray_open'}[iconsTrayClosed]">
    <div ng-react-component="ConnectionMap"></div>
  </div>
</section>
<footer>
  <ng-include src="'template/common/footer.html'"></ng-include>
</footer>
</body>
</html>