<html>
  <head>
    <link rel="stylesheet" type="text/css" href="components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/connectionMap.css">
    <link rel="stylesheet" type="text/css" href="css/d3.css">
    <link rel="stylesheet" type="text/css" href="css/shapes.css">
    <link rel="stylesheet" type="text/css" href="css/colours.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/vault-node.css">

    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/socket.io-client/socket.io.js"></script>

    <script type="text/javascript" src="js/plugins/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="components/zeroclipboard/dist/ZeroClipboard.min.js"></script>

    <script src="components/underscore/underscore-min.js"></script>
    <script src="components/react/react.min.js"></script>
    <script src="components/ngReact/ngReact.min.js"></script>
    <script src="js/reactjs/addons/react-infinite-scroll.min.js"></script>

    <script type="text/javascript" src="js/service/connectionMap/TransformLogService.js"></script>
    <script type="text/javascript" src="js/service/connectionMap/ConnectionMapDataService.js"></script>
    <script type="text/javascript" src="js/service/connectionMap/ConnectionMapStatus.js"></script>
    <script type="text/javascript" src="js/service/connectionMap/SocketService.js"></script>
    <script type="text/javascript">var socketPort = <%- JSON.stringify(socketPort) %>;</script>
    <script type="text/javascript" src="js/controller/ConnectionMapCtrl.js"></script>

    <script type="text/javascript" src="js/connectionmap/d3/d3.min.js"></script>
    <script type="text/javascript" src="js/connectionmap/con_map_transform.js"></script>
    <script type="text/javascript" src="js/connectionmap/ConnectionMap.js"></script>
    <script type="text/javascript" src="js/connectionmap/events.js"></script>
    <script type="text/javascript" src="js/reactjs/jsx-output/connectionmap.js"></script>
    <title>Network Visualiser - Realtime View</title>

    <link rel="shortcut icon" href="imgs/favicon.ico"/>
    <link rel="icon" type="image/ico" href="imgs/favicon.ico"/>
  </head>
  <body ng-app="MaidSafe" ng-controller="connectionMapCtrl">
  <header>
    <ng-include src="'template/connectionMap/header.html'"></ng-include>
  </header>
  <section>
    <div class="connectionMapContainer">
      <ng-include src="'template/connectionMap/connectionMapKeys.html'"></ng-include>
      <div class="connectionMapView">
        <div ng-react-component="ConnectionMap"></div>
      </div>
    </div>
  </section>
  <div class="connectionMapStatus">
    <div class="inlineBlock">
      <button class="statusButton leftButtonRadiusClear selected">Churn Status</button>
      <button class="statusButton rightButtonRadiusClear">Connectivity Status</button>
    </div>
  </div>
  <div class="loading" ng-if="showLoader">
    <div class="loader_icon">
      <img src="imgs/loader.gif">
    </div>
  </div>
  <footer>
    <ng-include src="'template/connectionMap/footer.html'"></ng-include>
  </footer>
  </body>
</html>