<html>
  <head>
    <link rel="stylesheet" type="text/css" href="components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/history.css">

    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>

    <script src="components/underscore/underscore-min.js"></script>
    <script src="components/react/react.js"></script>
    <script src="components/ngReact/ngReact.min.js"></script>
    <script src="js/reactjs/addons/react-infinite-scroll.min.js"></script>
    <script src="js/reactjs/jsx-output/HistoryCollection.js"></script>

    <script type="text/javascript" src="js/service/VaultBehaviourService.js"></script>
    <script type="text/javascript" src="js/controller/HistoryCtrl.js"></script>

    <link rel="shortcut icon" href="imgs/favicon.ico" />
    <link rel="icon" type="image/ico" href="imgs/favicon.ico" />

    <title>Network Visualiser - History View</title>
  </head>
  <body ng-app="MaidSafe" ng-controller="historyCtrl" id="history">
    <header>
      <div class="top-header">
        <h1><a href="/">Network Visualiser - History View - {{vaultId}}</a></h1>
        <p class="time_label">
          <span>Snapshot at {{ asOfDate | date : 'HH:mm:ss, dd/MM/yyyy'}}<span>
        </p>
      </div>
      <div class="info">
        <div class="search-wrapper">
          <form id="search-filter">
            <input type="text" style="font-weight: none; text-align: center;" name="focus" class="search-box" required ng-model="searchText" placeholder="Type text to filter" />

            <button id="clear" class="close-icon reset" type="reset" ng-click="searchText = ''"></button>
          </form>
        </div>
      </div>
    </header>
    <section>
      <div class="table-head">
        <div class="timestamp-head">Timestamp</div>
        <div class="persona-head">Persona</div>
        <div class="action-head">Action</div>
        <div class="value1-head">Value 1</div>
        <div class="value2-head">Value 2</div>
      </div>
      <div ng-react-component="HistoryCollection" data="logs"></div>
    </section>
  </body>
</html>