<html>
  <head>
    <link rel="stylesheet" type="text/css" href="components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/sessions.css">

    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/socket.io-client/dist/socket.io.min.js"></script>

    <script type="text/javascript" src="components/zeroclipboard/dist/ZeroClipboard.min.js"></script>
    <script type="text/javascript" src="components/ng-file-upload/angular-file-upload.js"></script>
    <script type="text/javascript" src="components/ng-file-upload/angular-file-upload-shim.js"></script>

    <script type="text/javascript" src="js/service/DataManagerService.js"></script>
    <script type="text/javascript" src="js/service/SocketService.js"></script>
    <script type="text/javascript" src="js/directive/clipcopy.js"></script>
    <script type="text/javascript" src="js/directive/filedialog.js"></script>
    <script type="text/javascript">var socketPort = <%- JSON.stringify(socketPort) %>;</script>
    <script type="text/javascript" src="js/controller/SessionCtrl.js"></script>

    <title>Network Visualiser - Sessions View</title>

    <link rel="shortcut icon" href="imgs/favicon.ico" />
    <link rel="icon" type="image/ico" href="imgs/favicon.ico" />
  </head>
  <body ng-app="MaidSafe" ng-controller="sessionCtrl" ng-init="init(<%= JSON.stringify(userInfo) %>)" id="sessions" ng-app="myapp">
    <header>
      <% include template/sessions/header.ejs %>
    </header>
    <section>
      <div class="wrapper active-list">
        <div class="list-header">
          <h2>Active Sessions</h2>
          <div class="session-count-label">{{activeSessions.length ? activeSessions.length : 0}}</div>
        </div>
        <div ng-repeat="session in activeSessions | orderBy:'session_name'">
          <% include template/sessions/session_item.ejs %>
        </div>
      </div>
      <div class="wrapper pending-list">
        <div class="list-header">
          <h2>Pending Sessions</h2>
          <div class="session-count-label">{{pendingSessions.length ? pendingSessions.length : 0}}</div>
        </div>
        <div ng-repeat="session in pendingSessions | orderBy:'session_name'">
          <% include template/sessions/session_item.ejs %>
        </div>
      </div>
    </section>
    <footer>
      <% include template/sessions/footer.ejs %>
    </footer>
    <script>
      $(function() {
      var container = $(".toggle_create_session");
      var container_import = $(".toggle_import_logs");

      $(container).hide();
      $(container_import).hide();

      function toggleSlide(buttonItem, parentItem, e) {
        e.preventDefault();

        if ($(buttonItem).hasClass('active')) {
          $(parentItem).hide();
          $(parentItem).slideDown("fast");
        }
      };

      $(".create-session").click(function(e) {
          toggleSlide(this, container, e);
        });

      $(".import-logs").click(function(e) {
          toggleSlide(this, container_import, e);
        });
      });
    </script>
  </body>
</html>