<html>
  <head>
    <link rel="stylesheet" type="text/css" href="components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/status.css">

    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/socket.io-client/socket.io.js"></script>

    <script type="text/javascript" src="js/service/SocketService.js"></script>
    <script type="text/javascript">var socketPort = <%- JSON.stringify(socketPort) %>;</script>
    <script type="text/javascript" src="js/controller/TestnetStatusCtrl.js"></script>

    <title>Network Visualiser - Testnet Status</title>

    <link rel="shortcut icon" href="imgs/favicon.ico" />
    <link rel="icon" type="image/ico" href="imgs/favicon.ico" />
  </head>
  <body ng-app="MaidSafe" ng-controller="testnetStatusCtrl" id="status" ng-app="myapp">
    <header ng-class="{true:'success', false:'fail'}[testnetStatus.isReady]">
      <% include template/status/header.html %>
    </header>
    <section>
      <div class="wrapper">
          <h3>Last Updated <br>{{testnetStatus.lastUpdated | date : 'HH:mm:ss dd/MM/yyyy'}}</h3>
          <div class="system-row" ng-repeat="connection in testnetStatus.connections">
            <span class="system-status" ng-class="{false:'down', true:'up'}[connection.canConnect]"></span>
            <span class="system-ip"><p>{{connection.contact}}</p></span>
          </div>
        </div>
    </section>
  </body>
</html>