<html>
  <head>
    <link rel="stylesheet" type="text/css" href="components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/shapes.css">
    <link rel="stylesheet" type="text/css" href="css/colours.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">

    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/socket.io-client/dist/socket.io.min.js"></script>

    <script type="text/javascript" src="components/zeroclipboard/dist/ZeroClipboard.min.js"></script>

    <script src="components/underscore/underscore-min.js"></script>
    <script src="components/react/react.js"></script>
    <script src="components/ngReact/ngReact.min.js"></script>
    <script src="js/reactjs/addons/react-infinite-scroll.min.js"></script>
    <script src="js/reactjs/jsx-output/VaultCollection.js"></script>

    <script type="text/javascript" src="js/directive/clipcopy.js"></script>
    <script type="text/javascript" src="js/directive/tooltip.js"></script>
    <script type="text/javascript" src="js/service/DataManagerService.js"></script>
    <script type="text/javascript" src="js/service/VaultBehaviourService.js"></script>
    <script type="text/javascript" src="js/service/SocketService.js"></script>
    <script type="text/javascript" src="js/service/VaultManagerService.js"></script>
    <script type="text/javascript">var socketPort = <%- JSON.stringify(socketPort) %>;</script>
    <script type="text/javascript" src="js/controller/ViewerCtrl.js"></script>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/combo-box.css">

    <title>Network Visualiser - Realtime View</title>

    <link rel="shortcut icon" href="imgs/favicon.ico" />
    <link rel="icon" type="image/ico" href="imgs/favicon.ico" />
  </head>
  <body ng-app="MaidSafe" ng-controller="viewerCtrl">
    <header>
      <ng-include src="'template/viewer/header.html'"></ng-include>
    </header>
    <section>
      <div class="icons open" ng-if="!iconsTrayClosed">
        <ng-include src="'template/common/icons_tray.html'"></ng-include>
      </div>
      <div class="wrapper" ng-class="{false:'tray_open'}[iconsTrayClosed]">
        <div ng-react-component="VaultCollection" data="vaultManager.vaultCollection"></div>
      </div>
    </section>
    <div class="loading" ng-if="showLoader">
      <div class="loader_icon" >
        <img src="imgs/loader.gif">
      </div>
    </div>
    <footer>
      <ng-include src="'template/common/footer.html'"></ng-include>
    </footer>
  </body>
</html>