<div class="top-header">
  <h1><a href="/">Network Visualiser - Sessions View</a></h1>
</div>
<ul class="buttons-right">
<% if(user.enabled) { %>
  <li>
    <button ng-click="importLogs()">Import</button>
  </li>
  <li>
    <button ng-click="onCreateSessionTabClicked()" class="create-session">Create Session</button>
  </li>
<% } else { %>
  <li>
    <button class="sign-in"><a href="/auth/google">Sign In</a></button>
  </li>
<% } %>
</ul>
<% if(user.enabled) { %>
<div class="toggle_create_session" ng-show="isCreateSessionTabOpen">
  <div class="wrapper">
    <div class="session-input-wrapper" ng-show="isCreateSessionInputRequired">
      <form name="createSessionForm">
        <input type="text" name="focus" class="session-input" required placeholder="Please enter a session name..." ng-model="sessionName" ng-pattern="/^[a-zA-Z0-9- ]{1,}$/" ng-change="createSessionErrorMessage = ''"/>
        <button class="submit-session" ng-disabled="createSessionForm.$invalid" ng-click="createSession()" ng-class="{'button-disabled': item.disabled}">Create</button>
        <div ng-class="validateFormInput(createSessionForm.focus)" ng-hide="createSessionForm.$pristine">
          {{createSessionErrorMessage != '' ? createSessionErrorMessage : (createSessionForm.$valid ? 'Valid Session Name' : 'Invalid Session Name')}}
        </div>
      </form>
    </div>
    <div class="session-id-output" ng-hide="isCreateSessionInputRequired">
    <h3>Session ID</h3>
      <input ng-value="sessionId" class="id-output" readonly>
    </div>
  </div>
</div>
<% } %>
