<div class="session" ng-click="session.is_active ? openViewer(session.session_name) : ''">
  <ul>
    <li>
      <div class="session_info">
        <input ng-value="session.session_name" class="session_name" readonly>
<% if(user.enabled) { %>
        <input ng-value="session.session_id" class="session_id" readonly>
<% } %>
      </div>
      <div class="actions">
<% if(user.enabled) { %>
        <a href="" class="delete" ng-click="onDeleteSessionClicked(session.session_name, $event)"></a>
        <div class="confirm-delete" ng-show="isConfirmDeleteDialogOpen[session.session_name]">
        <p>Sure?</p>
          <a href="" class="yes-btn" ng-click="deleteSession(session.session_name, $event)">Yes</a>
          <a href="" class="no-btn" ng-click="onDeleteSessionClicked(session.session_name, $event)">No</a>
        </div>
<% } %>
      </div>
    </li>
  </ul>
</div>
