<div class="top-header">
  <h1><a href="/">Network Visualiser - Realtime View</a></h1>
  <p class="time_label">
    {{currentTime | date : 'HH:mm:ss dd/MM/yyyy'}}
  </p>
  <ng-include src="'../client/template/common/zoom_combo_box.html'"></ng-include>
</div>
<ul class="buttons-left">
  <li>
    <button ng-click="timeline()">Timeline</button>
  </li>
  <li>
    <button ng-click="export()">Export</button>
  </li>
  <!--<li>
    <button ng-click="search()">Search</button>
  </li>-->
</ul>
<ul class="buttons-right">
  <li>
    <button ng-click="toggleExpandAllLogs()">{{allVaultsExpanded?'Hide All':'Expand All'}}</button>
  </li>
  <li>
    <button ng-click="toggleIconsTray()">{{iconsTrayClosed?'Show Keys':'Hide Keys'}}</button>
  </li>
</ul>