body{
	font-family: arial;
	font-size: 12px;	
	background-color: #fff;	
}

ul{list-style-type: none;margin: 0px;padding: 0px}


.close{
	display: none;
}

.dead{
	opacity: .4;	
}

header{	
	background-color: #E6E6E6;
	height: 50px;
	position: fixed;
	top: 0px;
	width: 100%;
}

header p.title {	
	font-size: 2em;
	margin: .5em;
	float: left;	
	width: 20%;
}

header div.status{
	margin: 1em;
	float: left;
	position: center;
	padding: .34em;
	border-radius: 9px;
}

header div.status.alert{
	background:rgba(214, 69, 47, 0.5);
}

header div.timeline{
	margin: 1em;
	float: left;
	position: center;
}

input[type='range']{
	margin: .7em
}
input[type='range'] {
		-webkit-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: #999;
		height: 10px;
		vertical-align: middle;
}
input[type='range']::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 10px;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}
input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}

header ul{
	float: right;
	margin: 1em
}

header ul li{
	float: left;
	margin-left: .5em
}

section {
	position: fixed;
	top:50px;/*Corresponds to the header height*/
	bottom: 0px;
	width: 100%;		
}

section div.legends{
	border-bottom: 1px solid;
	height: 30px;
}

section ul.personas{
	margin: .5em
}
section ul.personas li{
	float: left;
	padding: .3em 0em;
	border: 1px solid;
	margin-right: .2em;
	text-align: center;
	width: 100px;	
}

section ul.options{
	float: right;
	margin: .2em;
}

section ul.options li{
	float: left;
	margin-right: .4em
}


section div.icons{
	border-bottom: 1px solid;
	height: 175px;
}

section div.icons ul{
	margin: .1em;
	clear: both;
}

section div.icons ul li {
	float: left;
	margin-left: 1.2em;
	margin-top: .3em;
	width: 13%
}
section div.icons ul.personas li {
	width: 8%
}

section div.icons ul {
	padding: 1em;
}

section div.icons ul li span{
	margin: 1.5em 0.5em;
	position: absolute;
}

section div.wrapper{	
	padding: .343em;
	bottom: 0px;
	top:0px;
	overflow: auto;
	margin-left: 2em;
	clear: both;	
	position: absolute;	
}

section div.wrapper.tray_open{
	top: 180px;
}


section div.wrapper div.node{
	width: 15%;
	height:180px;
	margin: 15px;
	float: left;
	width: 220px	
}

section div.wrapper div.node div.box{	
	height: 100px;
	/*width: 100%;*/
	width: 220px;
	border: 2px solid #776E6E;
}

section div.wrapper div.node div.box div.notif{
	height: 54px;
	width: 100%;
}

section div.wrapper div.node div.box div.notif ul{
	margin: 2px;	
}

section div.wrapper div.node div.box div.notif ul li{	
	float: left;
	/*height: 25px;
	width: 25px;*/
	margin-left: 0.2em;
}

section div.wrapper div.node div.box div.progress{
	height: 7px;
	background-color: #ccc;	
}

section div.wrapper div.node div.box div.progress.vault_start{
	background-color: rgb(153, 36, 36)
}

section div.wrapper div.node div.box div.progress div{
	background-color: #4E4D4E;
	height: 100%;
	width: 80%;	
}

section div.wrapper div.node div.box div.info{
	height: 37px;	
}

section div.wrapper div.node div.box div.info p{	
	margin: 0px;
	padding: .4em;
	font-weight: bold;
	float: left;
	font-size:18px;
}

section div.wrapper div.node div.box div.info img{	
	float: right;
	margin:8px;
	width: 20px 
}

section div.wrapper div.node div.log_slider{
	border-left: 2px solid #776E6E;
	border-bottom: 2px solid #776E6E;
	border-right: 2px solid #776E6E;	
	height: 88px;
	width:100%;
	overflow: auto;	
	position: relative;
	top: -2px;
	z-index: 200;
}

section div.wrapper div.node div.log_slider ul li{
	font-size: 11px;
	border-bottom:  1px solid #776E6E;
	margin-bottom: .2em;	
	padding: .5em;
}

.log_date{
	padding: .2em;
	font-size: 11px;
	color: #696161;
}

.log_msg {
	word-wrap : break-word;
}

.see_history a{
	float: right;
	color: rgb(74, 74, 229)
}

.loading {
	width: 100%;
	height: 100%;
	background-color: rgba(228, 225, 225, 0.4);
	z-index: 999;
	position: fixed;
}

.loading div.loader_icon{
	position: absolute;
	top: 50%;
	left: 50%;
}

.loading div.loader_icon img{
	width: 50px
}