.persona_na{
	background-color: #8DC0F8
}

.persona_maidnode {
	background-color: #F8CDA1
}

.persona_mpidnode {
	background-color: #889A8B
}

.persona_datagetter {
	background-color: #C7CD8A
}

.persona_maidmanager {
	background-color: #F8AED4
}

.persona_datamanager {
	background-color: #C1FFF6
}

.persona_pmidmanager {
	background-color: #F9A489
}

.persona_pmidnode {
	background-color: #B8ADF2
}

.persona_mpidmanager {
	background-color: #7DCC9D
}

.persona_versionhandler {
	background-color: #AAEAF4
}

.persona_cachehandler {
	background-color: #F8CDA1
}