.persona_na{
	background-color: #AAEAF4
}

.persona_maid {
	background-color: #F8CDA1
}

.persona_mpid {
	background-color: #889A8B
}

.persona_data_getter {
	background-color: #C7CD8A
}

.persona_maid_manager {
	background-color: #F8AED4
}

.persona_data_manager {
	background-color: #C1FFF6
}

.persona_pmid_manager {
	background-color: #F9A489
}

.persona_pmid_node {
	background-color: #B8ADF2
}

.persona_mpid_manager {
	background-color: #7DCC9D
}

.persona_version_handler {
	background-color: #8DC0F8
}


.persona_cache_handler {
	background-color: #F8CDA1
}