.session {
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  height:75px;
  padding-top: 0.5em;
}
#sessions .wrapper {
  position: relative;
  margin: 0 2em;
  padding: 3em 0;
}
#sessions button { width: 145px;}

.toggle_create_session {
  background: #e7e7e7;
  height: 300px;
  clear: both;
  float: left;
  height: 150px;
  position: absolute;
  right: 2em;
  top: 73px;
  width: 450px;
  border-radius: 5px 0px 5px 5px;
  -webkit-border-radius: 5px 0px 5px 5px;
  -moz-border-radius: 5px 0px 5px 5px;
  z-index: 100;
}

button.close-icon {
  bottom: 27px;
  right: 30px;
  width: auto;
}

button.close-icon:hover { background: transparent; }

button.active {
  background: #e7e7e7;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  color: #5a5a5a!important;
}

.search-box, .close-icon, .search-wrapper {
  padding: 8px 10px;
  position: relative;
}

.session-input-wrapper {
  margin: 4px 0;
  width: 395px;
}

.session-input {
  border: 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  font-size: 14px;
  outline: 0;
  width: 300px;
  z-index: 0;
  padding: 8px 10px;
  position: relative;
  box-shadow: none;
  border: 1px solid #d7d7d7;
}

.submit-session {
  width: 90px!important;
  padding: 7px 15px;
}

.session-id-output {
  font-size: 14px;
  margin: 25px 10px;
  color: #5a5a5a;
}

.session_info {
  float: left;
}
.session_name {
  font-size:20px;
  padding: 0.4em 0;
}

.session_id {
  font-size: 12px;
  color: #aaaaaa;
}
.actions {
  float:right;
  padding: 0 1em;
}

a.view {
  background: url('../../client/imgs/view_icon.png') no-repeat top left;
  width: 26px;
  height: 15px;
  display: inline-block;
  margin: 1em 1.2em;
}
a.view:hover {
  background-position: bottom left;
}

a.delete {
  background: url('../../client/imgs/delete_icon.png') no-repeat top left;
  width: 18px;
  height: 24px;
  display: inline-block;
  margin: 1em 1.2em;
}
a.delete:hover {
  background-position: bottom left;
}

footer button { float: left; width: 210px!important; margin:0.5em 1.5em;}