.hexagon{
	background: url('../../client/imgs/icons/hexagon.png') no-repeat;	
	background-size: 100% 100%;	
}

.circle{
	background: url('../../client/imgs/icons/circle.png') no-repeat;	
	background-size: 100% 100%;
}


.square{
	background: url('../../client/imgs/icons/square.png') no-repeat;	
	background-size: 100% 100%;	
}

.square p {
	padding: 0.25em 0.6em;
	margin: 0em;
	font-size: 15px;
	font-weight: bold;
}


.rhombus{
	background: url('../../client/imgs/icons/rhombus.png') no-repeat;	
	background-size: 100% 100%;
}

.rhombus  p {
	padding: 0.25em 0.6em;
	margin: 0em;
	font-size: 15px;
	font-weight: bold;
}