body {
  background-color: #fff;
  font-family: arial;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 12px;
  min-width: 1150;
  width: 100%;
}

section { min-width: 1150px }

header { min-width: 1150px }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px
}

.home {
  background: url('/imgs/home-icon.png') no-repeat 0 0;
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.close { display: none; }

.show { display: block !important; }

.dead { opacity: .4; }

header {
  background-color: #5593d7;
  height: 90px;
  min-width: 1150px;
  top: 0px;
  width: 100%;
  position: absolute;
  z-index:100;
}

header p.title {
  color: #fff;
  float: left;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 2em;
  margin: 1em 0em 1em 2em;
}

header div.timeline {
  float: left;
  margin: .3em;
  position: relative;
  width: 75%;
}

.time_slider div.time_label {
  color: #fff;
  display: inline-block;
  float: left;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 30px;
  margin: -0.1em 1em 0em 0;
}

.time_slider div.slider {
  margin-left: 12em !important;
  width: 80%;
}

header div.timeline div.player div.player_msgs span {
  display: inline-block;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 14px;
  left: 640px;
  margin-left: 0em;
  position: relative;
  text-align: center;
  text-align: center;
  top: -30px;
}

p.time_label {
  color: #fff;
  font-family: 'OpenSansLight', Arial, sans-serif;
  font-size: 14px;
  margin: 1em;
}

header div.timeline div.time_slider {
  margin-left: .8em;
  margin-top: 0.2em;
  /*width: 960px;*/
  width: 80%;
}


header div.timeline div.player {
  float: left;
  margin: .5em 1em;
  /*width: 1070px;*/
  width: 80%;
}

header div.timeline div.player_buttons {
  float: left;
  left: 60%;
  margin-left: 8em;
  margin-top: -3.3em;
  position: absolute;
}

.ngrs-range-slider {
  margin: 0px !important;
  padding: 0px !important;
}

header ul {
  float: right;
  margin: 1.3em 2em 0;
}

header ul li { float: left; }

header ul li a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}

.sign-in-text {
  display: inline-block;
  float: left;
  margin: 6px 14px 0 0;
  font-size: 14px;
  color: #fff;
}

.top-header {
  background: #3476be;
  height: 25px;
  position: relative;
  width: 100%;
}

.top-header h1 {
  color: #fff;
  display: inline;
  float: left;
  font-family: 'OpenSansLight', Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0.4em 2em 0 2em;
  text-transform: uppercase;
}

.top-header h1 a {
  color: #fff;
  text-decoration: none;
}

.top-header p {
  float: right;
  margin: 0;
  padding: 0.2em 2.2em 0.1em 1.5em;
  text-align: right;
}

header h2 {
  color: #fff;
  float: left;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 24px;
  margin: 0.6em 0;
  padding: 0em 0em 0 1em;
  text-transform: uppercase;
}

ul.buttons-left { float: left; }

ul.buttons-left li { margin-right: .5em }

ul.buttons-right { float: right; }

ul.buttons-right li { margin-left: .5em }


button {
  background-color: #87b7ec;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border-style: none;
  color: #FFFFFF !important;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
  width: 130px;
  outline: 0;
}

button:hover, button.sign-in:hover { background-color: #29578A; }

button.sign-in {
  background-color: #b8d0e9;
}

button.sign-in a {padding: 5px 40px 5px 40px; display: block}

button.sign-in a { color: #29578A; }

button.sign-in:hover a { color: #fff; }

button.sign-in-google {
  background: url('/imgs/signin_google_icon.png') no-repeat top left;
}

button.sign-in-github {
  background: url('/imgs/signin_github_icon.png') no-repeat top left;
  
}

button.sign-in-google,
button.sign-in-github {
  display: block;
  width: 34px!important;
  height: 34px;
  margin-right: 10px;
}

button.sign-in-google:hover,
button.sign-in-github:hover {
  background-position: bottom left;
}


ul.zoom-control {margin: 3px 0 0 0;}


ul.zoom-control button {
  font-size: 10px;
  padding: 2px 4px 2px 4px;
  width: 40px;
  margin: 0px;
}

ul.zoom-control button:hover {
  background-color: #87b7ec;
  color: #000000!important;
}

ul.zoom-control button.selected {
  background-color: #29578A;
  color: #ffffff;
}


button.left-btn {
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
}

button.center-btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 05px;
  border-left:1px solid #5593d7;
  border-right:1px solid #5593d7;
}

button.right-btn {
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
}

.zoom {
  display: inline-block;
  float: right;
  margin-top: 4px;
}

#non-chrome {
  color: #fff;
  display: inline-block;
  float: right;
  margin-top: 3px;
}

section {
  width: 100%;
}

section div.legends {
  border-bottom: 1px solid;
  height: 30px;
}

section ul.personas { margin: .5em }

section ul.personas li {
  float: left;
  margin-right: .2em;
  padding: .3em 0em;
  text-align: center;
  width: 100px;
}

section ul.options {
  float: right;
  margin: .2em;
}

section ul.options li {
  float: left;
  margin-right: .4em
}


section div.icons {
  background: #f2f2f2;
  overflow: hidden;
  /*min-width: 1450px;*/
  width: 100%;
  position: absolute;
  top: 90px;
}

section div.icons:after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
}

section div.icons ul {
  clear: both;
  margin: .1em;
}

section div.icons ul li {
  float: left;
  margin-left: .3em;
  margin-top: .3em;
  width: 13%;
}

section div.icons ul.personas li {
  padding: 5px 0;
  width: 8.6%;
}

section div.icons ul { padding: 1em; }

section div.icons ul li span {
  margin: 1em 0em;
  position: absolute;
  width: 100px;
  word-wrap: break-word;
}

section div#wrapper {
  top:90px;
  bottom: 50px;
  margin-left: 2em;
  overflow: auto;
  padding: .343em;
  position: absolute;
}

section div#wrapper.tray_open { top: 270px; }


.node {
  height: 210px;
  margin: 15px;
  width: 220px;
  display: inline-block;
}

.message-bar {
  height:24px;
  width: 100%;
  /*width:220px;*/
  background: #f4f4f4;
  border-left: 2px solid #dddddd;
  border-top: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
}

.message-bar p {
  padding: 0;
  font-size:9px;
  text-transform: uppercase;
}

.message-bar input[type=text] {
    background: transparent;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    border: 0px;
    width: 220px;
    outline:0px;
    padding: 3px 4px;
}

.node div.box {
  border: 2px solid #776E6E;
  width: 100%;
}

.node div.box div.notif {
  width: 100%;
}

.node div.box div.notif ul { margin: 2px; }

.node div.box div.notif ul li {
  float: left;
}

.node div.box div.progress {
  background-color: #ccc;
  height: 7px;
}

.node div.box div.progress.vault_start { background-color: rgb(153, 36, 36) }

.node div.box div.progress div {
  background-color: #4E4D4E;
  height: 100%;
  width: 80%;
}

.node div.box div.info { height: 21px; padding: 8px; }

.node div.box div.info p {
  cursor: pointer;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding:0em;
}

.node div.box div.info img {
  float: right;
  width: 20px
}

.node div.log_slider {
  border-bottom: 2px solid #776E6E;
  border-left: 2px solid #776E6E;
  border-right: 2px solid #776E6E;
  height: 89px;
  overflow: auto;
  position: relative;
  top: 0px;
  width: 100%;
  float: left;
}

.node div.log_slider ul li {
  border-bottom: 1px solid #776E6E;
  font-size: 11px;
  margin-bottom: .2em;
  padding: .5em;
}

.log_date {
  color: #696161;
  font-size: 11px;
  padding: .2em;
}

.log_msg { word-wrap: break-word; }

.see_history a {
  float: left;
  margin: 3px;
  text-decoration: none
}

.loading {
  background-color: rgba(228, 225, 225, 0.4);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.loading div.loader_icon {
  left: 50%;
  position: absolute;
  top: 50%;
}

.loading div.loader_icon img { width: 50px }

button.copy-clipboard {
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  /*border: 1px solid #A9A9AA;*/
  background: rgba(85, 147, 215, 0.35) url('/imgs/sessions/copy_clipboard_icon.png') no-repeat top left;
  display: block;
  width: 35px !important;
  height: 35px;
  float: left;
  outline: 0;
}

button.copy-clipboard.zeroclipboard-is-hover {
  background: rgba(85, 147, 215, 1) url('/imgs/sessions/copy_clipboard_icon.png') no-repeat bottom left;
}

button.copy-clipboard.zeroclipboard-is-active {
  background: rgba(0, 0, 0, 1) url('/imgs/sessions/copy_clipboard_icon.png') no-repeat bottom left;
}

footer {
  background-color: #5593d7;
  bottom: 0px;
  height: 50px;
  min-width: 1150px;
  position: fixed;
  width: 100%;
  z-index: 30000;
}

footer div.status {
  border-radius: 9px;
  color: #fff;
  display: block;
  float: left;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 14px;
  margin: 0.3em 1.5em;
  padding: .34em 1em;
  position: relative;
  top: 5px;
}

footer div.status.alert { background: #f78b8b; }

.counter {
  color: #fff;
  float: right;
  font-size: 16px;
  margin: 0.8em 2.2em;
}

.leftButtonRadiusClear {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rightButtonRadiusClear {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

ul.button-center .selected {
  background-color: #29578A;
}

ul.button-center {
  position: absolute;
  width: 50%;
  margin: 1.3em 0;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

ul.button-center li {
  float: left;
}

ul.button-center li button {
  width: 150px;
  font-size: 14px;
  margin: 0 1px 0 0;
  border-radius: 10px;
}
.inlineBlock {
  display: inline-block;
}
