.persona_na { background-color: rgb(141, 192, 248) }

.persona_maid { background-color: rgb(248, 205, 161); }

.persona_mpid { background-color: rgb(136, 154, 139) }

.persona_data-getter { background-color: rgb(199, 205, 138); }

.persona_maid-manager { background-color: rgb(248, 174, 212) }

.persona_data-manager { background-color: rgb(193, 255, 246); }

.persona_pmid-manager { background-color: rgb(249, 164, 137) }

.persona_pmid { background-color: rgb(184, 173, 242) }

.persona_mpid-manager { background-color: rgb(125, 204, 157) }

.persona_version-handler { background-color: rgb(170, 234, 244) }


.persona_na_alpha { background-color: rgba(141, 192, 248, .5) }

.persona_maid_alpha { background-color: rgba(248, 205, 161, .5); }

.persona_mpid_alpha { background-color: rgba(136, 154, 139, .5) }

.persona_data-getter_alpha { background-color: rgba(199, 205, 138, .5); }

.persona_maid-manager_alpha { background-color: rgba(248, 174, 212, .5) }

.persona_data-manager_alpha { background-color: rgba(193, 255, 246, .5); }

.persona_pmid-manager_alpha { background-color: rgba(249, 164, 137, .5) }

.persona_pmid_alpha { background-color: rgba(184, 173, 242, .5) }

.persona_mpid-manager_alpha { background-color: rgba(125, 204, 157, .5) }

.persona_version-handler_alpha { background-color: rgba(170, 234, 244, .5) }

.persona_cache-handler { background-color: #F8CDA1 }

.ngrs-range-slider .ngrs-join {
  background-color: #00ca77 !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #50eead), color-stop(100%, #00ca77)) !important;
  background-image: -webkit-linear-gradient(#50eead, #00ca77) !important;
  background-image: -moz-linear-gradient(#50eead, #00ca77) !important;
  background-image: -o-linear-gradient(#50eead, #00ca77) !important;
  background-image: linear-gradient(#50eead, #00ca77) !important;
}

.ngrs-range-slider {
  border: none !important;
  /*margin:0 40px!important;*/
}

.ngrs-range-slider .ngrs-runner {
  background: #5593d7 url("../imgs/timeline/slider-bg.png") repeat-x 0 0 !important;
  height: 30px !important;
}

.ngrs-range-slider .ngrs-handle { background: #ffffff !important; }

.ngrs-range-slider, .ngrs-range-slider { background: #5593d7 !important }

.ngrs-range-slider {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ngrs-range-slider .ngrs-handle-max i { background-image: none !important; }