.connectionMapContainer {
  width: 100%;
  position: absolute;
  top: 90px;
}

.connectionMapKey {
  width: 100%;
  border-bottom: 1px solid #EEE;
}

.connectionMapKey:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.connectionMapKey ul li {
  width: 16.6%;
  font-size: 10px;
  padding: 15px 0;
  display: inline-block;
  float: left;
  text-align: center;
}

.connectionMapKey ul li div {
  display: inline-block;
}

.connectionMapKey ul li div.icon {
  width: 50px;
  height: 10px;
  margin-right: 5px;
  background-size: 50;
  background-position: 0px 4px;
}

.connectionMapKey ul li div.iconTwo {
  width: 15px;
  height: 12px;
  background-size: 12;
  background-position: 0px 1.5px;
}

.connectionMapKey ul li .lastAdded {
  background: url('../imgs/connection_map_keys/blue-solid-line.png') no-repeat;
}

.connectionMapKey ul li .lastRemoved {
  background: url('../imgs/connection_map_keys/red-solid-line.png') no-repeat;
}

.connectionMapKey ul li .existingClosed {
  background: url('../imgs/connection_map_keys/green-solid-line.png') no-repeat;
}

.connectionMapKey ul li .notInCloseGroup {
  background: url('../imgs/connection_map_keys/grey-solid-line.png') no-repeat;
}

.connectionMapKey ul li .sixteenClosed {
  background: url('../imgs/connection_map_keys/grey-solid-circle.png') no-repeat;
}

.connectionMapKey ul li .lessSixteenClosed {
  background: url('../imgs/connection_map_keys/grey-outline-circle.png') no-repeat;
}

.connectionMapZoom {
  position: absolute;
  width: 20%;
  text-align: center;
  left: 40%;
  margin: 10px 0;
}

.connectionMapZoom .zoomButton {
  display: inline-block;
  float: left;
  margin: 0 5px;
  padding: 0;
  line-height: 10px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 40px;
}

.connectionMapZoom .dec {
  background: url('../imgs/connection_map_keys/minus-icon.png') no-repeat;
  background-color: #87b7ec;
}

.connectionMapZoom .inc {
  background: url('../imgs/connection_map_keys/plus-icon.png') no-repeat;
  background-color: #87b7ec;
}

.connectionMapZoom .zoomButton:hover {
  background-color: #29578A;
}

.connectionMapStatus {
  width: 30%;
  position: absolute;
  left: 35%;
  bottom: 50px;
  padding: 10px 0;
  text-align: center;
}

.connectionMapStatus .statusButton {
  width: 150px;
  font-size: 12px;
  display: inline-block;
  float: left;
  margin: 0 1px 0 0;
  background-color: #87b7ec;
  border-radius: 10px;
}

.connectionMapStatus .statusButton:hover {
  background-color: #29578A;
}

.leftButtonRadiusClear {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rightButtonRadiusClear {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.connectionMapStatus .selected {
  background-color: #29578A;
}

.connectionMapView {
  width: 100%;
  text-align: center;
}

ul.button-center {
  position: absolute;
  width: 80%;
  margin: 1.3em 0;
  margin-left: 10%;
  text-align: center;
}

ul.button-center li {
  float: left;
}

ul.button-center li button {
  width: 150px;
  font-size: 14px;
  margin: 0 1px 0 0;
  border-radius: 10px;
}

.inlineBlock {
  display: inline-block;
}

svg {
  border: 1px solid #ccc;
}
.link {
  stroke:#98C2E5;
}
.link.grey {
  stroke:#CCCCCC;
}
.link.target {
  stroke:#CCCCCC;
  stroke-width: 1px;
}
.link.source {
  stroke:#CCCCCC;
  stroke-width: 1;
}

.link.not-exp{
  stroke:#F7931E;
  stroke-dasharray: 7,4;
  stroke-width:1.5;
  stroke-opacity:1;
}

.link.missing{
  stroke:#ED1C24;
  stroke-dasharray: 7,4;
  stroke-width:1.5;
  stroke-opacity:1;
}

.link.missing.grey , .link.not-exp.grey {
  stroke:#CCCCCC;
  stroke-dasharray: none;
  stroke-opacity:.5;
}

.link.source.grey {
  stroke:#CCCCCC;
  stroke-width: 1;
  stroke-opacity:.5;
}
.link.source.missing-expected{
  stroke:#ED1C24;
  stroke-dasharray : 7,4;
  stroke-width:1.5;
  stroke-opacity:1;
}
.link.source.in{
  stroke:#0DB535;
  stroke-width:1.5;
  stroke-opacity:1;
}
.link.source.out{
  stroke:#ED1C24;
  stroke-width:1.5;
  stroke-opacity:1;
}
.link.source.not-expected {
  stroke:#F7931E;
  stroke-dasharray: 7,4;
  stroke-width:1.5;
  stroke-opacity:1;
}
.link.source.close-group {
  stroke:#5593D7;
  stroke-dasharray : 7,4;
  stroke-width:1.5;
  stroke-opacity:1;
}
.link.source.group{
  stroke:#98C2E5;
  stroke-width:1.5;
  stroke-opacity:1;
}
.link.target.overlaped-target {
  fill: none;
  stroke: #5593D7;
  stroke-opacity: .1;
  pointer-events: none;
}
.node text {
  fill: #999999;
}
.node text.red {
  fill:#ED1C24;
}
.node text.green {
  fill:#0DB535;
}
.node text.blue {
  fill:#5593D7;
}
.node text.light-blue {
  fill:#98C2E5;
}
.node text.orange {
  fill:#F7931E;
}
.node text.selected {
  fill:black;
  font-weight: bold;
}
.node circle {
  fill:white;
  stroke:#808080;
  stroke-width:1.2;
}
.node circle.full {
  fill:#808080;
}