@font-face {
  font-family: 'OpenSansLight';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/OpenSans-Light-webfont.eot');
  src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Light-webfont.woff') format('woff'),
       url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
       url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
}

@font-face {
  font-family: 'OpenSansRegular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
}
.scott {
    background:red;
}