#history header {
  position: fixed;
}

#history section {
  position: relative;
  top: 119px;
}

.history .info {
  min-height: 50px;
  padding: .2em;
}

.history .info p { margin: 1em .5em; }

.history .info .title {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
}


.history .info .time {
  float: right;
  font-size: 1em;
  margin: 1.5em;
}

button.close-icon {
  bottom: 27px;
  right: 30px;
  width: auto;
}

button.close-icon:hover { background: transparent; }

.search-box, .close-icon, .search-wrapper {
  padding: 8px 10px;
  position: relative;
}

.search-wrapper {
  margin: 4px auto;

  width: 350px;
}

.search-box {
  border: 0px;
  border-radius: 12px;
  font-size: 14px;
  outline: 0;
  width: 95%;
  z-index: 0;
  -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
  box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
  0 0 16px rgba(0,0,0,0.1);
}

.input:focus {
  border: none;
  outline: none;
}

.close-icon {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
}

.close-icon:after {
  background-color: #FA9595;
  border-radius: 50%;
  bottom: 0px;
  box-shadow: 0 0 2px #E50F0F;
  color: white;
  content: "X";
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 17px;
  margin: auto;
  padding: 2px 3px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 15px;
  z-index: 1;
}

.search-box:not(:valid) ~ .close-icon { display: none; }

table {
  width: 100%;
}

table tr td {
  border: 1px solid #a7c8ec;
  font-size: 13px;
  padding: .4em;
}

table tr td div { word-break: break-word; }

.table-head {
  background-color: #a7c8ec;
  border: 1px solid #a7c8ec;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 90px;
  font-size: 14px;
  padding:4px 0;
  min-width: 1150px;
}

.table-head div {display: inline-block}

.timestamp-head {width: 10.5%; }

.persona-head {width: 10%; }

.action-head {width: 10%; }

.value1-head {width: 33%;}

.value2-head {width: 33%; }


.loader {
  background-color: #5593d7;
  font-size: 18px;
  color: #fff;
  padding: 10px 25px 10px 55px;
  width: 100px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin: 30px auto;
  position: relative;
  bottom: 15px;
}

/********** Loader Animation **********/
.loader-animation,
.loader-animation:before,
.loader-animation:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  float: left;
  display: block;
  left: -20px;
  top: 0px;
  margin-right: 20px;
  display: inline-block;
}
.loader-animation:before,
.loader-animation:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader-animation:before {
  left: -1.5em;
}
.loader-animation {
  text-indent: -9999em;
  margin: 2em auto;
  position: relative;
  font-size: 3px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader-animation:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}