.session-wrapper {
  padding: 6px 15px;
}

#sessions section {
  position: absolute;
  top: 90px;
}

.session {
  border-bottom: 1px solid #dcdcdc;
  height: 111px;
  width: 100%;
}

#sessions .wrapper {
  margin: 0 2em 7em 2em;
  padding-top: 3em;
  position: relative;
  width: 44%;
  float: left;
}

.active-list {
  margin-right: 40px !important;
}

.list-header {
  clear: both;
  height: 45px;
  margin-bottom: 30px;
}

.active-list .list-header {
  border-bottom: 2px solid #5593D7;
}

.pending-list .list-header {
  border-bottom: 2px solid #6F7070;
}

.active-list h2 {
  font-size: 28px;
  color: #5593D7;
  padding-bottom: 5px;
  float: left;
  margin: 0px;
}

.pending-list h2 {
  font-size: 28px;
  color: #6F7070;
  padding-bottom: 5px;
  float: left;
  margin: 0px;
}

.clear-all {
  text-transform: uppercase;
  color: #E8605E;
  font-size: 18px;
  text-decoration: none;
  float: right;
  position: relative;
  top: 8px;
}

.session-count-label {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  display: block;
  float: left;
  color: #fff;
  font-size: 16px;
  margin: 3px 20px;
}

.active-list .session-count-label {
  background: #5593D7;
}

.pending-list .session-count-label {
  background: #6F7070;
}

#sessions button {
  width: 145px;
}

.toggle_create_session, .toggle_import_logs {
  -moz-border-radius: 0px 5px 5px 5px;
  -webkit-border-radius: 0px 5px 5px 5px;
  background: #e7e7e7;
  border-radius: 0px 5px 5px 5px;
  clear: both;
  float: left;
  position: absolute;
  z-index: 100;
}

.toggle_create_session {
  height: 150px;
  left: 2em;
  top: 72px;
  width: 450px;
}


.toggle_import_logs {
  height: 200px;
  left: 14.6em;
  top: 72px;
  width: 450px;
}

.toggle_create_session .wrapper, .toggle_import_logs .wrapper {
  width: 90% !important;
}

form { margin: 0;}

button.active {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  background: #e7e7e7;
  border-radius: 5px 5px 0px 0px;
  color: #5a5a5a !important;
}

button[disabled] {
  background: #cacaca;
}

.search-box, .close-icon, .search-wrapper {
  padding: 8px 10px;
  position: relative;
}

.session-input-wrapper {
  margin: 4px 0;
  width: 395px;
}

.session-input {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d7d7d7;
  box-shadow: none;
  font-size: 14px;
  outline: 0;
  padding: 8px 10px;
  position: relative;
  width: 395px;
  z-index: 0;
}

button.select-file {
  float: left;
  width: 110px !important;
  margin-bottom: 20px;
}

.filename {
  font-size: 16px;
  color: #6F7070;
  display: inline-block;;
  float: left;
  width: 260px;
  height: 32px;
  margin-left: 20px;
  margin-top: 6px;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
}

.upload {
  margin: 15px 10px;
  width: 100px !important;
}

.submit-session {
  padding: 7px 15px;
  width: 90px !important;
  margin-top: 10px
}

.valid-input {
  background: url('/imgs/sessions/validation_icons.png') no-repeat top left;
  width: 50%;
  height: 23px;
  color: #25c766;
  font-size: 16px;
  padding-left: 30px;
  margin-top: 15px;
  float: left;
  display: block;
}

.invalid-input {
  background: url('/imgs/sessions/validation_icons.png') no-repeat bottom left;
  width: 50%;
  height: 23px;
  color: #e66161;
  font-size: 16px;
  padding-left: 30px;
  margin-top: 15px;
  float: left;
  display: block;
}

.session-id-output {
  color: #5a5a5a;
  font-size: 14px;
  margin: 0px 10px 25px 0;
}

.session-id-output h3 {
  color: #505050;
  display: block;
  padding: 0px;
  margin: 0px 0px 10px 0px;
  font-size: 22px;
  text-transform: uppercase;;
}

.id-output {
  clear: both;
  float: left;
  background: #fff;
  padding: 8px 10px;
  width: 90%;
  border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -webkit-border-radius: 8px 0px 0px 8px;
  height: 35px;
  border: none;
}

.session_info {
  float: left;
  width: 40%;
}

.session_name {
  padding: 0px;
  height: 20px;
  border-radius: 0px;
  max-width: 90%;
  font-size: 20px;
  padding: 0.4em 0;
  height: 50px;
  border: 0px;
  background: transparent;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.session_id {
  padding: 0px;
  height: 20px;
  border-radius: 0x;
  width: 90%;
  color: #aaaaaa;
  font-size: 12px;
  border: 0px;
  background: transparent;
}

.my-list .session_created_by {
  display: none !important;
}

.session_created_by {
  padding: 0px 0px 7px 20px;
  height: 20px;
  border-radius: 0x;
  width: 90%;
  color: #6F7070;
  font-size: 12px;
  border: 0px;
  background: transparent url('/imgs/sessions/user_email_icon.png') no-repeat 0 0;
}

.pending-list .session {
  background: rgba(199, 200, 201, 0.14);
  color: #ACADAD;
}

.pending-list .session .session_name {
  color: #0A0A0A;
}

.pending-list .session,
.pending-list .session .session_info,
.pending-list .session .session_id,
.pending-list .session .session_created_by {
  cursor: default;
}

.pending-list .session:hover {
  background: rgba(199, 200, 201, 0.14);
}

.pending-list .session .session_created_by {
  color: #ACADAD;
  background: transparent url('/imgs/sessions/user_email_icon_disabled.png') no-repeat 0 0;
}

.actions {
  float: right;
  padding: 0;
  position: relative;
  top: 12px;
}

.fieldValid {
  border: 1px solid #25c766;
}

.fieldInvalid {
  border: 1px solid #e66161;
}

.pending-list .view {
  display: none;
}

a.view {
  background: url('/imgs/sessions/view_icon.png') no-repeat top left;
  position: relative;
  height: 21px;
  margin: 2.3em 1.2em;
  width: 37px;
  float: right;
  background-size: 37px 42px;
}

a.expand-toggle {
  background: url('/imgs/sessions/expand_icon.png') no-repeat top left;
  width: 32px;
  height: 7px;
  margin: 25px 0 0 0px;
  position: relative;
  float: right;
  padding: 10px 0;
}

a.view:hover,
a.expand-toggle:hover,
a.arrow:hover,
a.clear:hover,
a.export:hover,
a.export-download:hover,
a.delete:hover { background-position: bottom left;}

.actions ul li {
  display: inline-block;
  margin:0 10px;

}
.actions ul.show-hide {
  height: 80px;
  position: relative;
  float: right;
  width: 180px;
  overflow: hidden;
  height: 52px;
}

ul.show-hide {
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  
}

ul.show-hide.ng-hide {
  width: 0px;
}

a.arrow {
  background: url('/imgs/sessions/arrow.png') no-repeat top left;
  width: 14px;
  height: 26px;
  float:left;
  margin-top: 25px;
}


a.clear {
  background: url('/imgs/sessions/clear_icon.png') no-repeat top left; 
  width:28px;
  height: 25px;
  display: block;
}

.export-section {
  display: block;
}

a.export {
  background: url('/imgs/sessions/export_icon.png') no-repeat top left;
  height: 25px;
  width: 27px;
  background-size: 27px 50px;
  display: block;
}

a.export-download {
  background: url('/imgs/sessions/export_download_icon.png') no-repeat top left;
  height: 24px;
  width: 26px;
  display: block;
  margin-left: 1px;
}

a.delete {
  background: url('/imgs/sessions/delete_icon.png') no-repeat top left;
  height: 25px;
  width: 18px;
  background-size: 18px 50px;
  display: block;
}

.pending-list a.delete {
  position: relative;
  top: 26px;
  margin-right: 15px;
}

.pending-list .confirm-dialog {
  right: -15px;
  top: -19px;
}

.pending-list .export,
.pending-list .export-download { display: none;}

.pending-list .list-loader { display: none;}

.confirm-dialog {
  border: 1px solid #dcdcdc;
  background: #fff;
  padding: 29px 50px 28px 50px;
  width: 150px;
  text-align: center;
  position: absolute;
  top: -19px;
  right: -15px;
  min-height: 54px;
  z-index: 5000;
}

.confirm-dialog p {
  margin: 0;
  padding: 0;
}

a.yes-btn {
  padding: 5px 0px;
  width: 45px;
  display: inline-block;
  background: #61e68d;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

a.yes-btn:hover {
  background: #38c266;
}

a.no-btn {
  padding: 5px 0px;
  width: 45px;
  display: inline-block;
  background: #e66161;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 5px;
  margin-top: 10px;
}

a.no-btn:hover {
  background: #ca2f2b;
}

footer button {
  float: left;
  margin: 0.5em 1.5em;
  width: 210px !important;
}

/********** Loader Animation **********/


.loader,
.loader:before,
.loader:after {
  background: #87B7EC;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  float: left;
  display: block;
  left: 20px;
  top: 10px;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 12em auto;
  position: relative;
  font-size: 4px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #87B7EC;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #87B7EC;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #87B7EC;
    height: 5em;
  }
}

.export-loader,
.export-loader:before,
.export-loader:after {
  background: #87B7EC;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  float: left;
  display: block;
  right: 0px;
  top: -3px;

}
.export-loader:before,
.export-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.export-loader:before {
  left: -1.5em;
}
.export-loader {
  text-indent: -9999em;
  margin-right: 11px;
  margin-left: 12px;
  position: relative;
  font-size: 4px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.export-loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}


.dialog-progress-loader,
.dialog-progress-loader:before,
.dialog-progress-loader:after {
  background: #87B7EC;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  float: left;
  display: block;
  left: 73px;
  top: 20px;
}
.dialog-progress-loader:before,
.dialog-progress-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.dialog-progress-loader:before {
  left: -1.5em;
}
.dialog-progress-loader {
  text-indent: -9999em;
  margin: 0em auto;
  position: relative;
  font-size: 4px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.dialog-progress-loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}


