<div class="connectionMapKey" ng-show="keyTrayClosed" >
  <ul>
    <li>
      <div class="icon lastAdded"></div>
      <div>Last added to closed group</div>
    </li>
    <li>
      <div class="icon lastRemoved"></div>
      <div>Last removed from closed group</div>
    </li>
    <li>
      <div class="icon existingClosed"></div>
      <div>Existing closed group connection</div>
    </li>
    <li>
      <div class="icon notInCloseGroup"></div>
      <div>Not in close group</div>
    </li>
    <li>
      <div class="iconTwo sixteenClosed"></div>
      <div>16 closed group connection</div>
    </li>
    <li>
      <div class="iconTwo lessSixteenClosed"></div>
      <div>&lt;16 closed group connection</div>
    </li>
  </ul>  
</div>
