<div class="connectionMapKey" ng-show="keyTrayClosed" >
  <ul>
    <li>
      <div></div>
      <div>Last added to closed group</div>
    </li>
    <li>
      <div></div>
      <div>Last removed from closed group</div>
    </li>
    <li>
      <div></div>
      <div>Existing closed group connection</div>
    </li>
    <li>
      <div></div>
      <div>Not in close group</div>
    </li>
    <li>
      <div></div>
      <div>16 closed group connection</div>
    </li>
    <li>
      <div></div>
      <div>&lt;16 closed group connection</div>
    </li>
  </ul>  
</div>
