<div class="top-header">
  <h1><a href="/" class="home"></a>Network Visualiser - Realtime View</h1>

  <p class="time_label">
    {{currentTime | date : 'HH:mm:ss dd/MM/yyyy'}}
  </p>
</div>
<ul class="buttons-left">
  <li>
    <button ng-click="timeline()">Timeline</button>
  </li>
  <li>
    <button ng-click="search()">Search</button>
  </li>
</ul>
<ul class="button-center">
  <div class="inlineBlock">
    <li>
      <button class="leftButtonRadiusClear">Status Monitor</button>
    </li>
    <li>
      <button class="rightButtonRadiusClear">Connection Map</button>
    </li>
  </div>
</ul>
<ul class="buttons-right">
  <!-- <li>
    <button ng-click="toggleExpandAllLogs()">{{allVaultsExpanded?'Hide All':'Expand All'}}</button>
  </li> -->
  <li>
    <button ng-click="toggleKeyTray()">{{!keyTrayClosed?'Show Keys':'Hide Keys'}}</button>
  </li>
</ul>