<div class="top-header">
  <h1><a href="/" class="home"></a>Network Visualiser - Realtime View</h1>
  <div class="connectionMapZoom">
    <div class="inlineBlock">
      <button class="zoomButton icon dec" ng-click="zoom(-0.1)"></button>
      <button class="zoomButton icon inc" ng-click="zoom(0.1)"></button>
    </div>
  </div>
  <p class="time_label">
    {{currentTime | date : 'HH:mm:ss dd/MM/yyyy'}}
  </p>
</div>
<ul class="buttons-left">
  <li>
    <!--<button ng-click="showTimeline()">Timeline</button>-->
    <button ng-click="showViewer()">Status Monitor</button>
  </li>
  <!--<li>-->
  <!--<button ng-click="search()">Search</button>-->
  <!--</li>-->
</ul>
<ul class="button-center">
  <div class="inlineBlock">
    <li>
      <button class="leftButtonRadiusClear" ng-click="showRealtime()">Real time</button>
    </li>
    <li>
      <button class="rightButtonRadiusClear selected" ng-click="">Timeline</button>
    </li>
  </div>
</ul>
<ul class="buttons-right">
  <!-- <li>
    <button ng-click="toggleExpandAllLogs()">{{allVaultsExpanded?'Hide All':'Expand All'}}</button>
  </li> -->
  <li>
    <button ng-click="toggleKeyTray()">{{!keyTrayClosed?'Show Keys':'Hide Keys'}}</button>
  </li>
</ul>