<div class="top-header">
  <h1><a href="/">Network Visualiser - Timeline View</a></h1>
  <p class="time_label">
    Snapshot at {{maxTime | date:'HH:mm:ss, dd/MM/yyyy'}}
  </p>
  <ng-include src="'../client/template/common/zoom_combo_box.html'"></ng-include>
</div>

<div class="timeline">
  <div class="player">
    <div class="time_slider">
      <div class="time_label" tooltip="{{ currentPlayTime |  date: 'dd/MM/yyyy' }}" canshow="true">
        {{ currentPlayTime |  date: 'HH:mm:ss' }}
      </div>
      <div class="slider" range-slider min="0" max="playback.max_steps" model-min="0" model-max="playback.currentState" pin-handle="		min" show-values="false" >
      </div>
      <!-- <div class="player_msgs" >
             <span>{{playerStatus}}</span>
           </div> -->
      <div class="player_buttons">
        <button ng-click="playHistory()" ng-show="playerState == PLAYER_STATE.STOPED" class="play-btn">Play</button>
        <button ng-click="pauseHistoryPlayback()" ng-show="playerState == PLAYER_STATE.PLAYING" class="pause-btn">Pause</button>
        <button ng-click="resumeHistoryPlayback()" ng-show="playerState == PLAYER_STATE.PAUSED" class="resume-btn">Resume</button>
        <!-- <button ng-click="stopHistoryPlayback()" ng-show="playerState != PLAYER_STATE.STOPED">Stop</button>	  -->
      </div>
    </div>
  </div>
</div>
<ul class="buttons-right">
  <!--<li>
        <p class="time_label">
          Snapshot till {{maxTime | date:'HH:mm:ss, dd/MM/yyyy'}}
        </p>
      </li>-->
  <li>
    <button ng-click="toggleExpandAllLogs()">{{allVaultsExpanded?'Hide All':'Expand All'}}</button>
  </li>
  <li>
    <button ng-click="toggleIconsTray()">{{iconsTrayClosed?'Show Keys':'Hide Keys'}}</button>
  </li>
</ul>