<div class="status" ng-class="{true:'alert'}[alert != null]">
  <span>{{alert}}</span>
</div>
<div class="timeline">
  <div class="player">
    <div class="time_slider">
      <div class="time_label" tooltip="{{ currentPlayTime |  date: 'dd/MM/yyyy' }}" canshow="true">
        {{ currentPlayTime |  date: 'HH:mm:ss' }}
      </div>
      <div class="slider" range-slider min="0" max="playback.maxSteps" model-min="0" model-max="playback.currentState" pin-handle="		min" show-values="false" >
      </div>
      <!-- <div class="player_msgs" >
             <span>{{playerStatus}}</span>
           </div> -->
      <div class="player_buttons">
        <button ng-click="playHistory()" ng-show="playerState == PLAYER_STATE.STOPPED" class="play-btn">Play</button>
        <button ng-click="pauseHistoryPlayback()" ng-show="playerState == PLAYER_STATE.PLAYING" class="pause-btn">Pause</button>
        <button ng-click="resumeHistoryPlayback()" ng-show="playerState == PLAYER_STATE.PAUSED" class="resume-btn">Resume</button>
        <!-- <button ng-click="stopHistoryPlayback()" ng-show="playerState != PLAYER_STATE.STOPPED">Stop</button>	  -->
      </div>
    </div>
  </div>
</div>
<label class="counter">Vault Count - {{vaultManager.vaultCollection.length}}</label>