<div class="session" ng-repeat="activeSession in activeSessions | orderBy:'session_name'">
  <ul>
    <li>
      <div class="session_info">
        <div class="session_name">
          {{activeSession.session_name}}
        </div>
<% if(user.enabled) { %>
        <div class="session_id">
          {{activeSession.session_id}}
        </div>
<% } %>
      </div>
      <div class="actions">
        <a href="/client/viewer#?session_name={{activeSession.session_name}}" class="view"></a>
<% if(user.enabled) { %>
        <a href="" class="delete"></a>
<% } %>
      </div>
    </li>
  </ul>
</div>