<div class="top-header">
  <h1>Network Visualiser</h1>
</div>
<h2>Current Active Sessions</h2>
<ul class="buttons-right">
<% if(user.enabled) { %>
  <li>
    <button ng-click="import()">Import</button>
  </li>
  <li>
    <button ng-click="toggleIconsTray()" class="create-session">Create Session</button>
  </li>
</ul>
<div class="toggle_create_session">
  <div class="wrapper">
    <div class="session-input-wrapper">
      <form name="createSessionForm">
        <style>
          .fieldValid {
          border: 1px solid #00ff00;
          }
          .fieldInvalid {
          border: 1px solid #ff0000;
          }
        </style>
        <input type="text" name="focus" class="session-input" required placeholder="Please enter a session name..." ng-model="sessionName" ng-pattern="/^[a-zA-Z0-9- ]{1,}$/" ng-class="validateField(createSessionForm.focus)"/>
        <button class="submit-session" ng-click="createSession()">Create</button>
      </form>
    </div>
    <div class="session-id-output">
      {{sessionId}}
    </div>
  </div>
</div>
<% } else { %>
  <li>
    <button class="sign-in"><a href="/auth/google">Sign In</a></button>
  </li>
</ul>
<% } %>