<div class="session">
  <div class="session-wrapper">
    <ul>
      <li>
        <div class="session_info">
          <input ng-value="session.sessionName" ng-click="openViewer(session.sessionName)" class="session_name"
          ng-class="{true:'logged-out-margin'}[!userInfo.isAuthenticated]" readonly >
<% if (userInfo.isAuthenticated) { %>
          <input class="session_created_by" ng-value="session.createdBy" readonly>
          <input ng-value="session.sessionId" class="session_id" readonly>
 <% } %>
        </div>
        <div class="actions">
          <a href="" class="view" ng-click="openViewer(session.sessionName)"></a>
<% if (userInfo.isAuthenticated) { %>
          <a ng-click="session.showActions = true" class="expand-toggle" href="" ng-if="!session.showActions"></a>
          <ul class="show-hide" ng-show="session.showActions">
          <li> <a href="" ng-click="session.showActions = false" class="arrow"></a></li>
            <li>
              <div class="export-section">
                <a href="" ng-click="onExportSessionClicked(session.sessionName)" class="export" ng-show="exportStatus[session.sessionName].status == 'ready' || exportStatus[session.sessionName] == null"></a>
                <div class="export-loader" ng-show="exportStatus[session.sessionName].status == 'progress'"></div>
                <a href="" class="export-download" ng-click="onDownloadExportClicked(session.sessionName)" ng-show="exportStatus[session.sessionName].status == 'download'"></a>
              </div>
            </li>
            <li ng-if="userInfo.isMaidSafeUser || userInfo.mailAddress == session.createdBy">
              <a href="" class="clear" 
              ng-click="session.confirmAction = 'clear'; session.isConfirmDialogOpen = true"></a>
            </li>
            <li ng-if="userInfo.isMaidSafeUser || userInfo.mailAddress == session.createdBy">
              <a href="" class="delete"
              ng-click="session.confirmAction = 'delete'; session.isConfirmDialogOpen = true"></a>              
            </li>
          </ul>
          <div class="confirm-dialog" ng-if="session.isConfirmDialogOpen">
            <div ng-if="!session.isConfirmInProgress">
              <p>{{(session.confirmAction === 'delete' ? 'Delete : ' : 'Clear : ') + 'Are you sure?'}}</p>
              <a href="" class="yes-btn" ng-click="session.confirmAction === 'delete' ? deleteSession(session) : clearSession(session)">Yes</a>
              <a href="" class="no-btn" ng-click="session.isConfirmDialogOpen = false">No</a>
            </div>
            <div class="dialog-progress" ng-if="session.isConfirmInProgress">
              <p>{{(session.confirmAction === 'delete' ? 'Deleting ' : 'Clearing ') + 'Session'}}</p>
              <div class="dialog-progress-loader"></div>
            </div>
          </div>                   
<% } %>
        </div>
      </li>
    </ul>
  </div>
</div>
