<div class="session">
  <div class="session-wrapper">
    <ul>
      <li>
        <div class="session_info">
          <input ng-value="session.session_name" ng-click="openViewer(session.session_name)" class="session_name" readonly >
<% if (userInfo.isAuthenticated) { %>
          <input class="session_created_by" ng-value="session.created_by" readonly>
          <input ng-value="session.session_id" class="session_id" readonly>
 <% } %>
        </div>
        <div class="actions">
          <a href="" class="view" ng-click="openViewer(session.session_name)"></a>
<% if (userInfo.isAuthenticated) { %>
          <div ng-if="session.is_active" class="export-section">
            <a href="" ng-click="onExportSessionClicked(session.session_name)" class="export" ng-if="exportStatus[session.session_name].status == 'ready' || exportStatus[session.session_name] == null"></a>
            <div class="export-loader" ng-if="exportStatus[session.session_name].status == 'progress'"></div>
            <a href="" class="export-download" ng-click="onDownloadExportClicked(session.session_name)" ng-if="exportStatus[session.session_name].status == 'download'"></a>
          </div>
          <a href=""
             class="delete"
             ng-click="session.isDeleteDialogOpen = !session.isDeleteDialogOpen || false"
             ng-if="userInfo.isMaidSafeUser || userInfo.mailAddress == session.created_by"></a>
          <div class="confirm-delete" ng-if="session.isDeleteDialogOpen">
            <div ng-if="!session.isDeleteInProgress">
              <p>Are you sure?</p>
              <a href="" class="yes-btn" ng-click="deleteSession(session)">Yes</a>
              <a href="" class="no-btn" ng-click="session.isDeleteDialogOpen = false">No</a>
            </div>
            <div class="delete-progress" ng-if="session.isDeleteInProgress">
              <p>Deleting Session</p>
              <div class="delete-progress-loader"></div>
            </div>
          </div>
<% } %>
        </div>
      </li>
    </ul>
  </div>
</div>
