<p class="title">Network Visualiser</p>
<div class="timeline">
	<divstyle="float:left">
		<span ng-model="playerStatus">{{playerStatus}}</span>
		<input class="slider" type="range" min="0" max="100" ng-model="playbackTime"></input>
	</div>		
	<div style="float:left;margin:1em">	
		<button ng-click="playHistory(playbackTime)" ng-show="playerState == PLAYER_STATE.STOPED">Play</button>
		<button ng-click="pauseHistoryPlayback()" ng-show="playerState == PLAYER_STATE.PLAYING">Pause</button>
		<button ng-click="resumeHistoryPlayback()" ng-show="playerState == PLAYER_STATE.PAUSED">Resume</button>
		<button ng-click="stopHistoryPlayback()" ng-show="playerState != PLAYER_STATE.STOPED">Stop</button>	 
	</div>
</div>
<ul>
	<li>
		<button ng-click="toggleExpandAllLogs()">{{allVaultsExpanded?'Hide All':'Expand All'}}</button>
	</li>
	<li>
		<button ng-click="toggleIconsTray()">{{iconsTrayClosed?'Show Keys':'Hide Keys'}}</button>
	</li>
	<li>
		<button ng-click="reset()">Reset</button>
	</li>
	<li>
		<button>Export</button>
	</li>
	<li>
		<button>Import</button>
	</li>							
	<li>
		<button ng-click="clearLogs()">Clear Logs</button>
	</li>
</ul>