<p class="title">Network Visualiser</p>
<!--<div class="timeline">
	<input type="text" ng-model="playbackTime"/> 
	<button ng-click="playHistory(playbackTime)">Play</button>
	<button ng-click="pauseHistoryPlayback()">Pause</button>
	<button ng-click="resumeHistoryPlayback()">Resume</button>
</div>-->
<ul>
	<li>
		<button>Reset</button>
	</li>
	<li>
		<button>Export</button>
	</li>
	<li>
		<button>Import</button>
	</li>							
	<li>
		<button ng-click="clearLogs()">Clear Logs</button>
	</li>
</ul>