<div class="top-header">
	<h1>Network Visualiser - Realtime View</h1>
	<p class="time_label">
			{{currentTime | date : 'HH:mm:ss dd/MM/yyyy'}}
	</p>
</div>
<ul class="buttons-left">
	<li>
		<button ng-click="timeline()">Timeline</button>
	</li>
	<li>
		<button ng-click="export()">Export</button>
	</li>
</ul>
<div class="status" ng-class="{true:'alert'}[alert != null]">
	<span>{{alert}}</span>
</div>
<ul class="buttons-right">
	<li>
		<button ng-click="toggleExpandAllLogs()">{{allVaultsExpanded?'Hide All':'Expand All'}}</button>
	</li>
	<li>
		<button ng-click="toggleIconsTray()">{{iconsTrayClosed?'Show Keys':'Hide Keys'}}</button>
	</li>
	<li>
		<a href="/auth/google">Sign In</a>
	</li>
</ul>