<ul>
	<li>						
		<img src="../client/imgs/icons/joining-pmid-node.png"/><span>Joining PMID Node<span>						
	</li>	
	<li>
		<img src="../client/imgs/icons/dropping-pmid-node.png"/><span>Dropping PMID Node<span>						
	</li>	
	<li>
		<img src="../client/imgs/icons/marking-node-up.png"/><span>Marking Node Up<span>						
	</li>										
	<li>
		<img src="../client/imgs/icons/marking-node-down.png"/><span>Marking Node Down<span>						
	</li>
	<li>
		<img src="../client/imgs/icons/transfer-account.png"/><span>Transfer Account<span>						
	</li>					
	<li>
		<img src="../client/imgs/icons/account-transferred.png"/><span>Got Account Transferred<span>
	</li>					
	<li>
		<img src="../client/imgs/icons/remove-account.png"/><span>Remove Account<span>
	</li>						
	<li>
		<img src="../client/imgs/icons/storing-data.png"/><span>Storing Data<span>
	</li>					
	<li>
		<img src="../client/imgs/icons/deleting-data.png"/><span>Deleting Data<span>
	</li>	
	<li>
		<img src="../client/imgs/icons/move-data.png"/><span>Move Data<span>
	</li>					
	<li>
		<img src="../client/imgs/icons/update-data-version.png"/><span>Update Data Version<span>
	</li>
	<li>
		<img src="../client/imgs/icons/blocked-delete-request.png"/><span>Blocked Delete Request<span>
	</li>					
	<li>
		<img src="../client/imgs/icons/subscriber.png"/><span>Subscriber<span>
	</li>										
	<li>
		<img src="../client/imgs/icons/counter.png"/><span>Counter<span>
	</li>					
</ul>