<ul class="personas">
  <li class="persona_maidnode">Maid Node</li>
  <li class="persona_mpidnode">Mpid Node</li>
  <li class="persona_datagetter">Data Getter</li>
  <li class="persona_maidmanager">Maid Manager</li>
  <li class="persona_datamanager">Data Manager</li>
  <li class="persona_pmidmanager">Pmid Manager</li>
  <li class="persona_pmidnode">Pmid Node</li>
  <li class="persona_mpidmanager">Mpid Manager</li>
  <li class="persona_versionhandler">Version Handler</li>
  <!-- <li class="persona_cache_handler">Cache Handler</li> -->
  <li class="persona_na">NA</li>

</ul>
<ul>
  <li>
    <img src="../client/imgs/icons/joining-pmid-node.png"/><span>Joining PMID Node<span>
  </li>
  <li>
    <img src="../client/imgs/icons/dropping-pmid-node.png"/><span>Dropping PMID Node<span>
  </li>
  <li>
    <img src="../client/imgs/icons/marking-node-up.png"/><span>Marking Node Up<span>
  </li>
  <li>
    <img src="../client/imgs/icons/marking-node-down.png"/><span>Marking Node Down<span>
  </li>
  <li>
    <img src="../client/imgs/icons/transfer-account.png"/><span>Transfer Account<span>
  </li>
  <li>
    <img src="../client/imgs/icons/account-transferred.png"/><span>Got Account Transferred<span>
  </li>
  <li>
    <img src="../client/imgs/icons/remove-account.png"/><span>Remove Account<span>
  </li>
  <li>
    <img src="../client/imgs/icons/storing-data.png"/><span>Storing Data<span>
  </li>
  <li>
    <img src="../client/imgs/icons/deleting-data.png"/><span>Deleting Data<span>
  </li>
  <li>
    <img src="../client/imgs/icons/move-data.png"/><span>Move Data<span>
  </li>
  <li>
    <img src="../client/imgs/icons/update-data-version.png"/><span>Update Data Version<span>
  </li>
  <li>
    <img src="../client/imgs/icons/blocked-delete-request.png"/><span>Blocked Delete Request<span>
  </li>
  <li>
    <img src="../client/imgs/icons/subscriber.png"/><span>Subscriber<span>
  </li>
  <li>
    <img src="../client/imgs/icons/counter.png"/><span>Counter<span>
  </li>
</ul>