<ul class="personas">	
	<li class="persona_maidnode">Maid Node</li>
	<li class="persona_mpidnode">Mpid Node</li>
	<li class="persona_datagetter">Data Getter</li>
	<li class="persona_maidmanager">Maid Manager</li>
	<li class="persona_datamanager">Data Manager</li>
	<li class="persona_pmidmanager">Pmid Manager</li>
	<li class="persona_pmidnode">Pmid Node</li>
	<li class="persona_mpidmanager">Mpid Manager</li>
	<li class="persona_versionhandler">Version Handler</li>
	<!-- <li class="persona_cache_handler">Cache Handler</li> -->
	<li class="persona_na">NA</li>
	
</ul>
<ul class="options">					
	<li>
		<button ng-click="toggleExpandAllLogs()">{{allVaultsExpanded?'Hide All':'Expand All'}}</button>
	</li>
	<li>
		<button ng-click="toggleIconsTray()">{{iconsTrayClosed?'Show Keys':'Hide Keys'}}</button>
	</li>					
</ul>