<div class="node" ng-repeat="vault in vaults | orderBy:'vault'" ng-controller="VaultCtrl" ng-init="init(vault)">
	<div class="box">
		<div class="notif">
			<ul>
				<li ng-class="accountClass">									
				</li>								
				<li ng-class="chunkClass">									
				</li>								
				<li ng-class="subscriberClass">	
					<p>{{subscriber}}</p>
				</li>								
				<li ng-class="counterClass">									
					<p>{{counter}}</p>
				</li>
			</ul>
		</div>
		<div class="progress" >
			<div ng-style="progressLevel"></div>
		</div>
		<div class="info" ng-class="personaColour">
			<p>{{vaultName}}</p>	
			<img ng-src="../client/imgs/icons/{{stateIcon}}" ng-click="toggleVaultLogs()">
		</div>
	</div>	
	<div class="log_slider" ng-class="{false:'close'}[logsOpen]">
		<ul>
			<li ng-repeat="log in logs">
				{{vaultBehaviour.personas[log.persona_id] + ' - ' + vaultBehaviour.actions[log.action_id]}}
			</li>		
		</ul>		
	</div>				
</div>