<div class="node" ng-repeat="vault in vaults | orderBy:'name'" ng-controller="VaultCtrl">
	<div class="box">
		<div class="notif">
			<ul>
				<li class="hexagon">									
				</li>								
				<li class="circle">									
				</li>								
				<li class="square">	
					<p>8</p>
				</li>								
				<li class="rhombus">									
					<p>9</p>
				</li>
			</ul>
		</div>
		<div class="progress" >
			<div ng-style="progressLevel"></div>
		</div>
		<div class="info persona_na">
			<p>{{vault.name}}</p>	
			<img ng-src="../client/imgs/icons/{{stateIcon}}" ng-click="toggleVaultLogs()">
		</div>
	</div>	
	<div class="log_slider" ng-class="{false:'close'}[logsOpen]">
		<ul>
			<li>
				Junk Log data for testing the legth of the data in the pipeline 
			</li>

			<li>
				hjhjhjh
			</li>

			<li>
				hjhjhjh
			</li>			
		</ul>		
	</div>				
</div>