<div class="node" ng-repeat="vault in vaults | orderBy:'vault'" ng-controller="VaultCtrl" ng-init="init(vault)" 
	ng-class="{false:'dead'}[isActive]">
	<div class="box">
		<div class="notif">
			<ul>
				<li ng-class="iconsTray.account">									
				</li>								
				<li ng-class="iconsTray.chunk">									
				</li>								
				<li class="shape" ng-class="iconsTray.subscriber">	
					<p>{{subscriber}}</p>
				</li>								
				<li class="shape" ng-class="iconsTray.counter">									
					<p>{{counter}}</p>
				</li>
			</ul>
		</div>
		<div class="progress" >
			<div ng-style="progressLevel"></div>
		</div>
		<div class="info" ng-class="personaColour">
			<p>{{vaultName.substring(0,6)}}</p>	
			<img ng-src="../client/imgs/icons/{{stateIcon}}" ng-click="toggleVaultLogs()">
		</div>
	</div>	
	<div class="log_slider" ng-class="{false:'close'}[logsOpen]">
		<ul>
			<li ng-repeat="log in logs">
			  	{{ vaultBehaviour.formatMessage(log)}}
			</li>		
		</ul>		
	</div>				
</div>