<p class="title">Network Visualiser</p>
<div class="timeline">
	<div class="player">		
		<div class="time_slider">					
			<div range-slider min="0" max="playback.max_steps" model-min="0" model-max="playback.currentState" pin-handle="min" show-values="false" ></div>
		</div>
		<div class="player_msgs">			
			<span class="min_time" ng-model="playback.currentPlayTime">{{playback.currentPlayTime |  date: 'dd/mm/yyyy HH:mm:ss'}}</span>
			<span>{{playerStatus}}</span>		
		</div>	
	</div>		
	<div class="player_buttons">	
		<button ng-click="playHistory()" ng-show="playerState == PLAYER_STATE.STOPED">Play</button>
		<button ng-click="pauseHistoryPlayback()" ng-show="playerState == PLAYER_STATE.PLAYING">Pause</button>
		<button ng-click="resumeHistoryPlayback()" ng-show="playerState == PLAYER_STATE.PAUSED">Resume</button>
		<button ng-click="stopHistoryPlayback()" ng-show="playerState != PLAYER_STATE.STOPED">Stop</button>	 
	</div>
</div>
<ul>
	<li>
		<p class="time_label">
			Snapshot till {{maxTime | date:'HH:mm:ss, MMM dd yyyy'}}
		</p>
	</li>
	<li>
		<button ng-click="toggleExpandAllLogs()">{{allVaultsExpanded?'Hide All':'Expand All'}}</button>
	</li>
	<li>
		<button ng-click="toggleIconsTray()">{{iconsTrayClosed?'Show Keys':'Hide Keys'}}</button>
	</li>
</ul>