<script type="text/javascript" src="../client/js/utils/zoom-combo-box.js"></script>
<div class="zoom">
  <select id="selLanguage">
    <option value="30">30%</option>
    <option value="50">50%</option>
    <option value="70">70%</option>
    <option value="85">85%</option>
    <option value="100">100%</option>
    <option value="200">200%</option>
  </select>
</div>
<img id="non-chrome" src="../client/imgs/warning.png" alt="Chrome Required" width="20" height="20" title="Zoom Disabled: Requires Chrome browser">